<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">Yameen <span class="nav-last-name">Yasin</span></a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#home">Home</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://www.facebook.com/shah.yameen" class="text-white fa fa-facebook fa-2x" target="_blank"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" class="text-white fa fa-linkedin fa-2x" target="_blank"></a>
            </li>
            <li>
                <a href="https://twitter.com/YameenYasin" class="text-white fa fa-twitter fa-2x" target="_blank"></a>
            </li>
            <li>
                <a href="https://plus.google.com/+YameenYasin" class="text-white fa fa-google-plus fa-2x" target="_blank"></a>
            </li>
            
        </ul>
    </div>


</div>