<div class="row">

    <div class="col-md-12" style="position:relative;">
        <img ng-src="{{profilePic}}" width="100%" class="image-watermark" style="position:absolute;left:0;">        
    </div>
    
    <div class="col-md-12 profile-panel-wrapper">
    
        <div class="profile-panel">
        
            <p class="profile-panel-heading">Frontend Developer</p>
            <p class="profile-panel-body">Passionate about HTML, CSS 3 and JavaScript. I am a JavaScript Junkie.I love to create elegant user interface and write effecient code.</p>
        
        </div>
        
    </div>


</div>

